@{
    ViewBag.Title = "About";
    <link href="~/Content/Site.css" rel="stylesheet" />
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    Learning Management System was developed to help the admins and learners to track the learning progress
    as well as manage access of learners
</p>
