@{
    ViewBag.Title = "Contact";
    <link href="~/Content/Site.css" rel="stylesheet" />
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Learning Management System Development Inc.<br />
    India<br />
    <abbr title="Phone"></abbr>
    +91 9876543210
</address>

<address>
    <strong>Marketing:</strong>   <a href="mailto:LearningManagementSystem@lms.com">LearningManagementSystem@lms.com</a><br />
    <strong>Support:</strong> <a href="mailto:Customercare@lms.com">Customercare@lms.com</a>
</address>