@{
    ViewBag.Title = "Home Page";
    <link href="~/Content/Site.css" rel="stylesheet" />
}

<div class="jumbotron">
    <h1>Learning Management System</h1>
    <p class="lead">
        Learning Management System is a free platform for the learners to enroll
        themselves to different courses and take up tests to earn a verified certificate.
        The admin is privileged to maange the courses available on the portal and learner activities.
    </p>
    <p><a href="https://lms.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            LMS gives you a powerful, management-based way to control what users are going to learn
            and continuously monitor their progress
            for enjoyable, learning development.
        </p>
        <p><a class="btn btn-default" href="https://go.lms.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>

</div>