
@{
    ViewBag.Title = "Submit";
    Layout = "~/Views/Shared/_LearnerLayout.cshtml";
    <link href="~/Content/Site.css" rel="stylesheet" />
}

<br />
<br />
<h3>Your test is completed successfully!!!</h3>

<br />
<br />


<br />
<h4><b>@Html.ActionLink("Click here", "SQLprog", "ResumeCourses", new { }, null) to go back to the Courses page.</b></h4>

