
@{
    ViewBag.Title = "Congratulations !!! ";
    Layout = "~/Views/Shared/_CertificateLayout.cshtml";
    <link href="~/Content/Site.css" rel="stylesheet" />
}

<div class="jumbotron">
    <h1>Congratulations!!!!</h1>
    <p class="lead">
        The faculty at LMS are honored to present you with the official certification for completion of this course.
        Your achievement will be remembered and your participation cherished.
        Today is a milestone. It tells you how far you’ve come.
        Keep learning, keep trying, keep accomplishing, and keep venturing on through your journey.
        Congratulations!
    </p>
    <p>Download your Certificate</p>
    <p><input type="submit" value="Download Certificate" class="btn btn-primary btn-lg">Click here &raquo;</p>
</div>
