
@{
    ViewBag.Title = "AdminView";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    <link href="~/Content/Site.css" rel="stylesheet" />
}

<div class="jumbotron">
    <h1>Welcome to the administration portal.</h1>
    <p class="lead">
        Now keeping track of what and how your students are learning is just a click behind.
    </p>
    <p>Happy Taeching :)</p>
</div>
