
@{
    ViewBag.Title = "LMS";
    Layout = "~/Views/Shared/_LearnerLayout.cshtml";
    <link href="~/Content/Site.css" rel="stylesheet" />
}

<div class="jumbotron">
    <h1>Explore Learning Like Never Before</h1>
    <p class="lead">
        Choose what to learn from a variety of our courses and keep a track of your knowledge
        through this self paced learning portal
    </p>
    <p>Happy Learning :)</p>
</div>

